In [381]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
def missing_values(dataframe):
    missing_ratio = (dataframe.isnull().sum(axis=1) / len(dataframe))*100
    missing_count = dataframe.isnull().sum(axis=1)
    info = pd.DataFrame({'Country': dataframe[dataframe.keys()[0]], 'Missing Ratio': missing_ratio, 'Missing Count': missing_count})
    return info

In [382]:
df = pd.read_csv('MCM2022F题数据/经济/Adjusted net national income per capita (current US$).csv')
df1 = pd.read_csv('./Poverty headcount ratio at $2.15 a day.csv')
lists = df1['Unnamed: 0'].tolist()
filled_df = pd.DataFrame()
for list in lists:
    filled_df = filled_df.append(df[list:list + 1])
filled_df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
4,Angola,AGO,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2835.320063,3158.544114,3583.800549,3199.012702,2688.630467,2936.850718,2051.814728,1738.059253,1103.908798,NaN
5,Albania,ALB,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3503.243510,3760.376907,3844.337544,3267.217515,3443.310224,3712.733017,4318.911492,4337.131083,4208.456611,NaN
9,Argentina,ARG,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,10831.520720,10851.071720,10231.597670,11707.870410,10797.543920,12493.772040,9813.558914,8262.878744,7211.955933,NaN
10,Armenia,ARM,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3291.408343,3551.641014,3675.977522,3288.583984,3245.412455,3630.471703,3859.702940,4216.371446,3811.233531,NaN
13,Australia,AUS,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,53382.552810,53834.807010,48664.386190,44267.579130,39055.241830,42000.889700,43990.137080,42364.650810,40200.579180,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1104.506050,1274.731964,1323.300430,1366.083303,1016.850557,849.196530,666.413014,NaN,NaN,NaN
263,South Africa,ZAF,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,6677.611861,6040.671010,5701.851528,5144.544656,4688.121238,5531.361716,5788.141130,5464.485881,4643.188725,NaN
264,Zambia,ZMB,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1348.813887,1413.864528,1379.444002,1054.613559,992.835793,1144.782042,1145.844603,990.129619,733.301291,NaN
265,Zimbabwe,ZWE,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1085.357460,1227.332563,1207.234855,1220.263319,1221.332601,1013.621411,1019.960476,1054.601646,934.384341,NaN

In [383]:
#df = df.dropna(how='all', subset=df.keys()[4:66])
filled_df = filled_df.dropna(thresh=3, subset=df.keys()[4:66])
filled_df.count()

m=filled_df[filled_df.keys()[4:66]].mean(axis=1)
filled_df=filled_df.fillna({x:m for x in filled_df.keys()[4:66]})
filled_df
# filled_df.to_csv('Poverty headcount ratio.csv')

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
4,Angola,AGO,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1243.110297,1243.110297,1243.110297,1243.110297,1243.110297,1243.110297,...,2835.320063,3158.544114,3583.800549,3199.012702,2688.630467,2936.850718,2051.814728,1738.059253,1103.908798,1243.110297
5,Albania,ALB,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1982.489584,1982.489584,1982.489584,1982.489584,1982.489584,1982.489584,...,3503.243510,3760.376907,3844.337544,3267.217515,3443.310224,3712.733017,4318.911492,4337.131083,4208.456611,1982.489584
9,Argentina,ARG,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,5232.398489,5232.398489,5232.398489,5232.398489,5232.398489,5232.398489,...,10831.520720,10851.071720,10231.597670,11707.870410,10797.543920,12493.772040,9813.558914,8262.878744,7211.955933,5232.398489
10,Armenia,ARM,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,2191.902797,2191.902797,2191.902797,2191.902797,2191.902797,2191.902797,...,3291.408343,3551.641014,3675.977522,3288.583984,3245.412455,3630.471703,3859.702940,4216.371446,3811.233531,2191.902797
13,Australia,AUS,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,20674.659566,20674.659566,20674.659566,20674.659566,20674.659566,20674.659566,...,53382.552810,53834.807010,48664.386190,44267.579130,39055.241830,42000.889700,43990.137080,42364.650810,40200.579180,20674.659566
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,Samoa,WSM,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1964.320278,1964.320278,1964.320278,1964.320278,1964.320278,1964.320278,...,3319.768957,3325.671284,3210.153065,3376.803443,3386.142365,3468.846449,3398.342584,3461.843603,3226.874010,1964.320278
262,"Yemen, Rep.",YEM,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,594.508250,594.508250,594.508250,594.508250,594.508250,594.508250,...,1104.506050,1274.731964,1323.300430,1366.083303,1016.850557,849.196530,666.413014,594.508250,594.508250,594.508250
263,South Africa,ZAF,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,3213.319462,3213.319462,3213.319462,3213.319462,3213.319462,3213.319462,...,6677.611861,6040.671010,5701.851528,5144.544656,4688.121238,5531.361716,5788.141130,5464.485881,4643.188725,3213.319462
264,Zambia,ZMB,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,540.367886,540.367886,540.367886,540.367886,540.367886,540.367886,...,1348.813887,1413.864528,1379.444002,1054.613559,992.835793,1144.782042,1145.844603,990.129619,733.301291,540.367886
265,Zimbabwe,ZWE,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,697.480632,697.480632,697.480632,697.480632,697.480632,697.480632,...,1085.357460,1227.332563,1207.234855,1220.263319,1221.332601,1013.621411,1019.960476,1054.601646,934.384341,697.480632

In [384]:
filled_df.keys()[4:66]

Index(['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'],
      dtype='object')

In [385]:
filled_df = filled_df.drop(filled_df.keys()[1:60], axis=1)
filled_df = filled_df.drop(filled_df.keys()[-1], axis=1)

In [386]:
filled_df.count()

Country Name    151
2016            151
2017            151
2018            151
2019            151
2020            151
dtype: int64

In [387]:
filled_df.to_csv('Adjusted net national income.csv')