In [2]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [7]:
df = pd.read_csv('MCM2022F题数据/文化/Research and development expenditure (% of GDP).csv')
df1 = pd.read_csv('./School enrollment.csv')
lists = df1['Unnamed: 0'].tolist()
filled_df = pd.DataFrame()
for list in lists:
    filled_df = filled_df.append(df[list:list + 1])
filled_df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
4,Angola,AGO,Research and development expenditure (% of GDP),GB.XPD.RSDV.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.032290,NaN,NaN,NaN,NaN,NaN
5,Albania,ALB,Research and development expenditure (% of GDP),GB.XPD.RSDV.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Argentina,ARG,Research and development expenditure (% of GDP),GB.XPD.RSDV.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.634910,0.618490,0.593960,0.622620,0.558150,0.556310,0.494350,0.457130,NaN,NaN
10,Armenia,ARM,Research and development expenditure (% of GDP),GB.XPD.RSDV.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.238530,0.222160,0.241510,0.250020,0.233050,0.227880,0.188760,0.178540,0.209210,NaN
13,Australia,AUS,Research and development expenditure (% of GDP),GB.XPD.RSDV.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.178490,NaN,1.920830,NaN,1.879260,NaN,1.829280,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,World,WLD,Research and development expenditure (% of GDP),GB.XPD.RSDV.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.025058,1.987609,2.067394,2.095083,2.137852,2.133632,2.196267,2.332327,2.628466,NaN
260,Samoa,WSM,Research and development expenditure (% of GDP),GB.XPD.RSDV.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,Research and development expenditure (% of GDP),GB.XPD.RSDV.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.669340,0.663300,0.709870,0.731470,0.749920,0.762570,0.686570,0.615250,NaN,NaN
264,Zambia,ZMB,Research and development expenditure (% of GDP),GB.XPD.RSDV.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,Zimbabwe,ZWE,Research and development expenditure (% of GDP),GB.XPD.RSDV.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#df = df.dropna(how='all', subset=df.keys()[4:66])
filled_df = filled_df.dropna(how='all', subset=df.keys()[4:66])
filled_df.count()

# m=filled_df[filled_df.keys()[4:66]].mean(axis=1)
# filled_df=filled_df.fillna({x:m for x in filled_df.keys()[4:66]})
# filled_df
# filled_df.to_csv('Poverty headcount ratio.csv')

Country Name      126
Country Code      126
Indicator Name    126
Indicator Code    126
1960                0
                 ...
2017               92
2018               84
2019               83
2020               64
2021                1
Length: 66, dtype: int64

In [11]:
#df = df.dropna(how='all', subset=df.keys()[4:66])
filled_df = filled_df.dropna(thresh=3, subset=df.keys()[4:66])
filled_df.count()

m=filled_df[filled_df.keys()[4:66]].mean(axis=1)
filled_df=filled_df.fillna({x:m for x in filled_df.keys()[4:66]})
filled_df
# filled_df.to_csv('Poverty headcount ratio.csv')

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
4,Angola,AGO,"School enrollment, tertiary (% gross)",SE.TER.ENRR,3.978890,3.978890,3.978890,3.978890,3.978890,3.978890,...,3.978890,8.838330,3.978890,8.400940,9.336260,9.324319,9.012669,10.630290,3.978890,3.978890
5,Albania,ALB,"School enrollment, tertiary (% gross)",SE.TER.ENRR,26.085878,26.085878,26.085878,26.085878,26.085878,26.085878,...,59.252010,64.634430,65.782967,62.007622,58.381851,57.375259,54.961330,59.778500,57.813141,56.721531
9,Argentina,ARG,"School enrollment, tertiary (% gross)",SE.TER.ENRR,50.929077,50.929077,50.929077,50.929077,50.929077,50.929077,...,77.446289,78.223900,80.995811,84.001999,87.213448,89.958519,91.600601,95.447906,99.166267,50.929077
10,Armenia,ARM,"School enrollment, tertiary (% gross)",SE.TER.ENRR,37.617827,37.617827,37.617827,37.617827,37.617827,37.617827,...,46.158031,45.737389,47.082191,46.521801,51.080189,52.251530,54.570480,51.487530,50.816608,55.413589
13,Australia,AUS,"School enrollment, tertiary (% gross)",SE.TER.ENRR,48.797678,48.797678,48.797678,48.797678,48.797678,48.797678,...,48.797678,48.797678,48.797678,118.610863,120.965714,113.142158,107.808052,115.952042,114.189888,48.797678
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,World,WLD,"School enrollment, tertiary (% gross)",SE.TER.ENRR,20.125424,20.125424,20.125424,20.125424,20.125424,20.125424,...,32.497330,33.385792,35.726810,36.849911,37.435791,37.803101,38.230980,39.227379,40.317871,20.125424
260,Samoa,WSM,"School enrollment, tertiary (% gross)",SE.TER.ENRR,7.750209,7.750209,7.750209,7.750209,7.750209,7.750209,...,7.750209,7.750209,7.750209,7.750209,7.750209,13.684760,14.642050,14.023550,17.207741,18.535730
263,South Africa,ZAF,"School enrollment, tertiary (% gross)",SE.TER.ENRR,16.801914,16.801914,16.801914,16.801914,16.801914,16.801914,...,19.143660,19.930490,19.809240,22.260929,20.918449,22.366030,23.801960,23.866560,24.236300,16.801914
264,Zambia,ZMB,"School enrollment, tertiary (% gross)",SE.TER.ENRR,1.934492,1.934492,1.934492,1.934492,1.934492,1.934492,...,4.116030,1.934492,1.934492,1.934492,1.934492,1.934492,1.934492,1.934492,1.934492,1.934492
265,Zimbabwe,ZWE,"School enrollment, tertiary (% gross)",SE.TER.ENRR,3.736234,3.736234,3.736234,3.736234,3.736234,3.736234,...,6.854140,6.935260,3.736234,10.006550,8.171440,8.875950,3.736234,3.736234,3.736234,3.736234

In [11]:
filled_df.keys()[4:66]

Index(['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'],
      dtype='object')

In [12]:
filled_df = filled_df.drop(filled_df.keys()[1:60], axis=1)
filled_df = filled_df.drop(filled_df.keys()[-1], axis=1)

In [13]:
filled_df.count()

Country Name    146
2016            146
2017            146
2018            146
2019            146
2020            146
dtype: int64

In [14]:
filled_df.to_csv('Industry (including construction).csv')