In [47]:
import numpy as np
import pandas as pd
df = pd.read_excel("20条河流的水质情况数据.xlsx")
df.head()

  河流  含氧量（ppm)   PH值  细菌总数(个/mL)  植物性营养物量（ppm)
0  A      4.69  6.59          51         11.94
1  B      2.03  7.86          19          6.46
2  C      9.11  6.31          46          8.91
3  D      8.61  7.05          46         26.43
4  E      7.13  6.50          50         23.57

In [48]:
def minToMax(datas):
    return datas.max() - datas
df['细菌总数(个/mL)'] = minToMax(df['细菌总数(个/mL)'])
df.head()

  河流  含氧量（ppm)   PH值  细菌总数(个/mL)  植物性营养物量（ppm)
0  A      4.69  6.59           3         11.94
1  B      2.03  7.86          35          6.46
2  C      9.11  6.31           8          8.91
3  D      8.61  7.05           8         26.43
4  E      7.13  6.50           4         23.57

In [49]:
def midToMax(datas, x_best):
    M = abs(datas - x_best).max()
    return 1 - abs(datas - x_best) / M
df['PH值'] = midToMax(df['PH值'], 7)
df.head()

  河流  含氧量（ppm)       PH值  细菌总数(个/mL)  植物性营养物量（ppm)
0  A      4.69  0.717241           3         11.94
1  B      2.03  0.406897          35          6.46
2  C      9.11  0.524138           8          8.91
3  D      8.61  0.965517           8         26.43
4  E      7.13  0.655172           4         23.57

In [74]:
def interToMax(datas, a, b):
    M = max(a - datas.min(), datas.max() - b)
    ans = []
    for data in datas:
        if data < a:
            ans.append(1 - (a - data) / M)
        elif data > b:
            ans.append(1 - (data - b) / M)
        else:
            ans.append(1)
    return ans
df['植物性营养物量（ppm)'] = interToMax(df['植物性营养物量（ppm)'], 10, 20)
df.head()

  河流  含氧量（ppm)       PH值  细菌总数(个/mL)  植物性营养物量（ppm)
0  A      4.69  0.717241           3      0.100000
1  B      2.03  0.406897          35      0.069404
2  C      9.11  0.524138           8      0.090579
3  D      8.61  0.965517           8      0.044425
4  E      7.13  0.655172           4      0.069144

In [75]:
def standard(datas):
    k = np.power(np.sum(np.power(datas, 2), axis = 0), 0.5)
    for i in range(len(k)):
        datas[:, i] = datas[:, i] / k[i]
    return datas
label = df.keys()[1:]
data = standard(df[label].values)

In [78]:
def score(datas):
    z_min = np.min(datas, axis = 0)
    z_max = np.max(datas, axis = 0)
    min_Distance = np.power(np.sum(np.power(z_min - datas, 2), axis = 1), 0.5)
    max_Distance = np.power(np.sum(np.power(z_max - datas, 2), axis = 1), 0.5)
    scores = min_Distance / (max_Distance + min_Distance)
    scores = scores / np.sum(scores, axis = 0)
    return scores

df['得分'] = score(data)
df

   河流  含氧量（ppm)       PH值  细菌总数(个/mL)  植物性营养物量（ppm)        得分
0   A      4.69  0.717241           3      0.100000  0.045058
1   B      2.03  0.406897          35      0.069404  0.047799
2   C      9.11  0.524138           8      0.090579  0.048497
3   D      8.61  0.965517           8      0.044425  0.048820
4   E      7.13  0.655172           4      0.069144  0.043113
5   F      2.39  0.841379          16      0.060069  0.044838
6   G      7.69  0.855172          16      0.065514  0.053947
7   H      9.30  0.868966          27      0.000000  0.050998
8   I      5.45  0.572414          49      0.100000  0.068074
9   J      6.19  0.813793          37      0.078479  0.068393
10  K      7.93  0.634483          45      0.069922  0.070162
11  L      4.40  0.806897          37      0.054192  0.059093
12  M      7.46  0.144828          31      0.100000  0.052652
13  N      2.01  0.000000           7      0.045462  0.019196
14  O      2.04  0.586207          31      0.100000  0.053307
15  P      7.73  0.406897           2      0.100000  0.043359
16  Q      6.35  0.600000          29      0.018237  0.046574
17  R      8.29  0.027586          15      0.100000  0.043844
18  S      3.54  0.813793           0      0.040882  0.035810
19  T      7.44  0.489655          46      0.027312  0.056466